**/*.sh
module.pm.tmpl
buildspec.yml.tmpl
test.t.tmpl
bin/*.pl
lib/**/*.pm
*.gz
*.log
*.tmp
.\#*
\#*
*.diffs
*.lst
extra-files
provides
resources
*-review-2*.pod
*-review-2*.code
*-review-2*.annotate
**/*.crit
**/*.tdy
botocore/
bin/amazon-api
bin/
.botocore.state
bin/DescribeInstances.pl
bin/amazon-api
bin/build-boto-services
buildspec.yml.current
services.api

