**/*.tag
**/*.log
**/perltidy.err
src/main/perl/lib/botocore
src/main/perl/prove.*
src/main/perl/test-suite.log
cpan/extra-files
cpan/provides
cpan/resources
cpan-dist/services
cpan-dist/service-listing.json
**/Makefile
**/Makefile.in
src/main/perl/lib/**/*.pm
src/main/perl/lib/**/*.pc
src/main/perl/lib/test/*
src/main/perl/lib/Amazon/API/Botocore.pod
src/main/perl/t/*.log
src/main/perl/t/*.trs
src/main/bash/bin/amazon-api
src/main/bash/bin/amazon-api.sh
src/main/bash/bin/create-service
src/main/bash/bin/create-service.in
src/main/bash/bin/create-service.sh
src/examples/README
src/examples/README.html
**/*.3man
configure
config.log
config.status
autom4te.cache/*
autotools/test-driver
autotools/missing
autotools/install-sh
aclocal.m4
*.tar.gz
*.rpm
*.spec
tags
TAGS
.make.state
.nse_depinfo
!Makefile.requirements
!docker-rpm/Makefile
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
