**/Makefile
**/Makefile.in
src/main/perl/lib/**/*.pm
src/main/perl/t/*.log
src/main/perl/t/*.trs
**/*.3man
configure
config.log
config.status
autom4te.cache/*
autotools/test-driver
autotools/missing
autotools/install-sh
aclocal.m4
*.tar.gz
*.rpm
*.spec
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
